volumes:
  imagehost_image:
      name: imagehost_image
  imagehost_thumbnail:
      name: imagehost_thumbnail

services:
  app:
    container_name: mini-image-host
    restart: unless-stopped
    image: somik123/mini-image-host
    ports:
      - 8080:80
    volumes:
      - imagehost_image:/var/www/html/i
      - imagehost_thumbnail:/var/www/html/t
    environment:
      # Site base settings
      APP_PROTOCOL: "https://"
      APP_DOMAIN: "example.com"

      # Site name
      SITE_NAME: "My Image Host"

      # Contact email or url like "mailto:admin@example.com" or "https://example.com/contact"
      CONTACT: "mailto:admin@example.com" # or "https://example.com/contact"

      # Paths inside the container match above volumes
      IMAGE_PATH: "/var/www/html/i/"
      IMAGE_URL: "/i/"

      THUMB_PATH: "/var/www/html/t/"
      THUMB_URL: "/t/"

      # Optional mirror domains (comma-separated)
      MIRROR_DOMAINS: "example.net,example2.net,example3.net"

      # Upload limits
      MAX_FILE_SIZE: "26214400" # 25MB in bytes
      MAX_IMAGE_SIZE: "800" # 800px

      # Admin key for deleting files
      ADMIN_KEY: "aQqpJghcYS9Q6T3Lqw3vhQj6dQRHmcCa" # Change this to a strong key

      # Allowed MIME types
      ALLOWED_TYPES: "image/jpeg,image/png,image/gif,image/webp"

      # Enable hotlinking from other sites
      ENABLE_EXTERNAL_HOSTS: "false"

      # Number of images to show per page
      FILES_PER_PAGE: "20"
