@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background: radial-gradient(#e66465, #9198e5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6990F2;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 450px;
}

.container-large {
    max-width: 800px;
}

.header-link {
    color: #6990F2;
    text-decoration: none;
}

.header-link:hover {
    color: #4178F5;
}


#uploaded-area {
    max-height: 300px;
    overflow-y: auto;
}

.card {
    background: #f0f5ffff;
    min-height: 70px;
}

.progress-div {
    height: 6px;
}

.font-20 {
    font-size: 20pt;
}

.font-45 {
    font-size: 45pt;
}

.select-host {
    width: auto;
    color: #6990F2;
    border: 1px solid #6990F2;
    border-radius: 5px;
}

.upload-form {
    min-height: 180px;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
    width: 100%;
    color: #6990F2;
    padding-bottom: 20px !important;
}

.text2image {
    height: 250px;
    display: flex;
    border-radius: 5px;
    border: 2px dashed #6990F2;
    width: 100%;
    font-size: 14px;
}

.text2image:focus {
    outline: none;
}

#text2imageBtn {
    background-color: #6990F2;
}

#text2imageView {
    margin-top: 10px;
    border-radius: 5px;
    background: #ffffff;
    max-width: 100%;
}

.gallery-img {
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 150px;
    max-height: 150px;
    padding: 5px 5px;
    margin: 3px 3px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.footer-div {
    font-size: 12px;
    color: #6990F2;
}

#mirror{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none !important;
    padding-right: 0.5rem;
}

#links-table {
    font-size: 12px;
    min-width: 750px;
}

#links-table th, #links-table td {
    vertical-align: middle;
    word-break: break-all;
    max-width: 250px;
}

#links-container{
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
}